{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class="login-box">
        <form class="login" method="post">
            <h3>{{profile.name}}</h3>
            {% csrf_token %}
            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
</html>