{% extends 'dashboard/baseDashboard.html' %}
{% load static %}
{% block title %}user dashboard{% endblock title %}
{% block dashboard %}
<table class="table table-striped table-hover rounded-3">

 <thead class="table-dark">
  <tr>
   <th>
    <a class='text-white' href={% url 'create-user' %}>Create</a>
   </th>
   <th class="text-center" colspan='5'>User's Details</th>
  </tr>
  <tr>
   <th scope="col">#</th>
   <th scope="col">first name</th>
   <th scope="col">last name</th>
   <th scope="col">email</th>
   <th scope="col">update</th>
   <th scope="col">delete</th>
  </tr>
 </thead>
 <tbody>
  {% for user in users %}
  <tr>
   <th scope="row">{{forloop.counter}}</th>
   <td>{{user.first_name}}</td>
   <td>{{user.last_name}}</td>
   <td>{{user.email}}</td>
   <td><a href={% url 'user-update' user.id %}>update</a></td>
   <td><a href={% url 'user-delete' user.id %}>delete</a></td>
  </tr>
  {% endfor %}

 </tbody>
</table>
{% endblock %}