{% extends 'base.html' %}{% load static %}
{% block title %}dashboard{% endblock title %}
{% block extraHead %}
<link rel="stylesheet" href="{% static 'dashboard/baseDashboard.css' %}">
{% endblock extraHead %}
{% block content %}
<section>
 <div class="row">
  <div class="col-lg-2 mx-1 bg-dark text-white">
   <ul>
    <li><a href="{% url 'dashboard:invests' %}">invests</a></li>
    <li><a href="{% url 'dashboard:earns' %}">earns</a></li>
    <li><a href="{% url 'dashboard:owners' %}">owner</a></li>
    <li><a href="{% url 'dashboard:employ' %}">employ</a></li>
   </ul>

  </div>
  <div class="col-lg-9 dashboard-wrapper">
   {% block dashboard %}bcd{% endblock dashboard %}
  </div>
 </div>
</section>
{% endblock content %}
