{% extends 'dashboard/baseDashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Dashboard{% endblock title %}
{% block dashboard %}
<h1>profit details</h1>
earn:  {{earn}}/= tk
invest: {{invest}}/= tk
profit: {{profit}}/= tk
loss: {{loss}}/= tk
total_bill: {{total_bill}}
earn_via_bill: {{earn_via_bill}}
up_steam_bill: {{up_steam_bill}}

<h1>Clients</h1>
total clients: {{clients}}
active clients: {{active_clients}}
inactive clients: {{inactive_clients}}

<h1>Onu Details</h1>
total onu: {{total_onu}}
active onu: {{active_onu}}
stored onu: {{stored_onu}}
damaged onu: {{damaged_onu}}

<H1>Employ details</H1>
total Employ: {{total_employ}}
active Employ: {{active_employ}}
stored Employ: {{inactive_employ}}

<h1>Task Basket</h1>
total basket: {{total_basket}}
pending basket: {{pending_basket}}
in progress basket: {{in_progress_basket}}
completed basket: {{completed_basket}}


{% endblock %}