{% extends 'dashboard/baseDashboard.html' %}
{% block title %}Employ Dashboard{% endblock title %}
{% block dashboard %}
<table class="table table-striped table-hover rounded-3">

 <thead class="table-dark">
  <tr>
   <th>
    <a class='text-white' href={% url 'dashboard:employ-create' %}>Create</a>
   </th>
   <form class="mb-2 mt-3 mx-2" method="get">
    <th>
     {{ filters.form.phone.label_tag }}
     {{ filters.form.phone }}
    </th>
    <th>
     {{ filters.form.name.label_tag }}
     {{ filters.form.name }}
    </th>
    <th colspan="4">
     <input class="btn btn-primary px-4 ms-3" type="submit" value="search">
    </th>
   </form>
  </tr>
  <tr>
   <th scope="col">#</th>
   <th scope="col">name</th>
   <th scope="col">phone</th>
   <th scope="col">address</th>
   <th scope="col">status</th>
   <th scope="col">update</th>
   <th scope="col">delete</th>
  </tr>
 </thead>
 <tbody>
  {% for employ in employs %}
  <tr>
   <th scope="row">{{forloop.counter}}</th>
   <td>{{employ.name}}</td>
   <td>{{employ.phone}}</td>
   <td>{{employ.address}}</td>
   <td>{{employ.status}}</td>
   <td><a href={% url 'dashboard:employ-update' employ.id %}>update</a></td>
   <td><a href={% url 'dashboard:employ-delete' employ.id %}>delete</a></td>
  </tr>
  {% endfor %}

 </tbody>
</table>

{% if employs.has_previous %}
<a class="btn prev-btn btn-success mb-3" href="?p={{employs.previous_page_number}}">previous</a>
{% endif %}
{{employs.number}}
{% if employs.has_next %}
<a class="btn next-btn btn-success mb-3" href="?p={{employs.next_page_number}}">next</a>
{% endif %}
{% endblock dashboard %}